.banner{
    font-size: 30px;
    
}
.moto{
    color: lightskyblue !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.container {width: 980px !important;}
